a {
    background-color: beige; 
    text-decoration-line: underline;
}

img {
    width: 300px;
}

figure {
    border: 1px solid #333;
    padding: 5px;
    width: 310px;
}

figcaption {
    background-color: RGBa(0,0,0,0.8);
    color: #fff;
    text-align: center;
    font-style: italic;

}