<html>
<div class="text-align:center;width: 50%;height: 50%;">
    <button class="btn btn-lg"  [routerLink]="['/']" title="Précédent">Précédent</button>

    <div id="fond"> 
        <div class="ruban">     
            <h2>Catégorie</h2>     
        </div>     
        <div class="ruban_gauche"></div>
        <div class="ruban_droit"></div>
    </div>

    <br/>
    <br />

    <h2>Bienvenue {{kid_nomComplet}} </h2><br/>
    <h4>Choisi la catégorie qui ressemble le plus à tes habitudes</h4>

    <div class="card-body">
        <li *ngFor="let img of var_images" style="list-style-type: none;">
            <figure style="max-width: 100%;height: auto;">
                <strong>
                    <a style="background-color: beige;" (click)="$event.preventDefault();getCat(img.categorie_image)">
                    <img style="max-width: inherit;height: inherit;" class="card-img-top" src="https://pfe-back-dev.herokuapp.com/images/repertoire/{{img.categorie_image}}/{{img.description}}.jpg">
                    <figcaption>{{img.categorie_image}}</figcaption>
                </a>
                </strong>
            </figure>    
        </li>
    </div> 
    <h4 *ngIf="var_nbActivites > 0">
        Jusqu'à maintenant tu a répondu 'oui' à {{var_nbActivites}} activité<span *ngIf="var_nbActivites > 1">s</span>
        <br/>
        <button class="btn btn-primary" (click)="$event.preventDefault();onSubmit()">Valider</button>
    </h4>
</div>
</html>