<div style="text-align: center;">
    <h3><strong>Choisi(e) la catégorie qui ressemble le plus à tes habitudes</strong></h3>
</div>
<br/>
<br />

<div class="list-group">
    <li style="list-style-type: none;">
        <div *ngFor="let cat of var_categories; index as libelle"> 
        <strong><a style="background-color: beige; text-decoration-line: underline;" class="list-group-item" [routerLink]="['/categories',libelle]">
            {{cat.categorie_id}}
            {{cat.libelle}}
        </a>
        </strong>
        </div>
    </li>
</div>