table{
 margin-left: 200px;
 column-count: 3;
}

form{
    margin-left: 200px;
}

.table2{
    margin-left: 0px;
}

th, td{
    border: 3px solid gray;
}

html {
    /* background-size: 100%; */
    background-color: beige;
}

.card-body {
    column-count: 7;
    position: absolute;
}

.card-body2 {
    /* column-count: ; */
    text-align: center;
    position: relative;
}

.card {
    column-count: 4;
    position: absolute;
}

/* .login-container{
    margin-top: 5%;
    margin-bottom: 5%;
    position: absolute;
    left: 10%;
} */

.formulaire { 
    border-width: 2px;
}

.form {

    left: 22.5%;
    position: relative;
    /* box-shadow:
     0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19); */
    /* text-align: center; */
}

h3 {
    text-align: center;
    color: green;
}

legend {
    color: green;
    padding: 3px;
}

fieldset {
    border: 2px gre;
    border-color: brown;
    
}