table{
 margin-left: 200px;
 column-count: 3;
}

form{
    margin-left: 200px;
}

.table2{
    margin-left: 0px;
}

th, td{
    border: 3px solid gray;
}

html {
    /* background-size: 100%; */
    background-color: beige;
}

.card-body {
    column-count: 7;
    position: absolute;
}

.card-body2 {
    /* column-count: ; */
    text-align: center;
    position: relative;
}

.card {
    column-count: 4;
    position: absolute;
}

/* .login-container{
    margin-top: 5%;
    margin-bottom: 5%;
    position: absolute;
    left: 10%;
} */

.formulaire { 
    border-width: 2px;
}

.form {

    left: 22.5%;
    position: relative;
    /* box-shadow:
     0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19); */
    /* text-align: center; */
}

h3 {
    text-align: center;
    color: green;
}

legend {
    color: green;
    padding: 3px;
}

fieldset {
    border: 2px gre;
    border-color: brown;
    
}

#fond {
    position: relative;
    margin: 0px auto;
    width: 350px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
    z-index: 10;
    height:110px;
}
     
.ruban {
    background: #b1c70d;
    height: 50px;
    width: 380px;
    position: relative;
    left:-15px;
    top: 30px;
    float: left;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
    z-index: 100;
}
     
.ruban h2 {
    font-size: 25px;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    text-align: center;
    margin:10px;
}
     
.ruban_gauche {
    border-color: transparent #b1c70d transparent transparent;
    border-style:solid;
    border-width:15px;
    height:0px;
    width:0px;
    position: relative;
    left: -30px;
    top: 65px;
    z-index: -1;  /*s'affichera sous le rectangle  */
}
    
.ruban_droit {
    border-color: transparent transparent transparent #b1c70d;
    border-style:solid;
    border-width:15px;
    height:0px;
    width:0px;
    position: relative;
    left: 350px;
    top: 35px;
    z-index: -1;
}