table{
 margin-left: 200px;
 column-count: 3;
}

form{
    margin-left: 200px;
}

.table2{
    margin-left: 0px;
}

th, td{
    border: 3px solid gray;
}

html {
    /* background-size: 100%; */
    background-color: beige;
}

.card-body {
    column-count: 7;
    position: absolute;
}

.card-body2 {
    /* column-count: ; */
    text-align: center;
    position: relative;
}

.card {
    column-count: 4;
    position: absolute;
}
