@font-face {
    font-family: 'nunitoblack';
    src: url('../../../assets/fonts/Nunito/nunito-black-webfont.woff2') format('woff2'),
         url('../../../assets/fonts/Nunito/nunito-black-webfont.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}

button{
    padding: 10%;
    margin: 10%;
}
.page {
    padding: 1%;
    background-color: bisque;
    text-align: center;
}

.previous {
    border-style: ridge;
    border-radius: 50px;
    border-color:rgb(3, 189, 3);
    color: rgb(0, 160, 21);
    background-color:bisque;
}

.police{
    font-family: 'nunitoblack';
    font-size: 50px;
}