<div style="text-align: center;">
    <h3>Dis nous si tu aime ou n'aime pas cette activité</h3>
    <h4>Activité nr°{{var_activiteCourante.image_id}}</h4>
    <p>
        <img style="max-width:50%;max-height:50%;" src="https://pfe-back-dev.herokuapp.com/images/repertoire/deplacements/{{var_activiteCourante.description}}"/>
    </p>
    <p>
        <button type="button" class="btn btn-success" (click)="$event.preventDefault();addImgToYes(var_activiteCourante)">oui</button>
        <button type="button" class="btn btn-danger" (click)="$event.preventDefault();addImgToNo(var_activiteCourante)">non</button>
        <br/>
        <button type="button" class="btn btn-info" (click)="$event.preventDefault();imgBypass(var_activiteCourante)">je passe</button>
    </p>
    
</div>