@font-face {
    font-family: 'nunitoblack';
    src: url('../../../assets/fonts/Nunito/nunito-black-webfont.woff2') format('woff2'),
         url('../../../assets/fonts/Nunito/nunito-black-webfont.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}


html{
    padding: 1%;
    background-color: beige;
    text-align: center;
}

.previous {
    font-family: 'nunitoblack';
    border-style: ridge;
    border-radius: 100px;
    border-color:brown;
    color: brown;
    background-color:bisque;
    font-size: 25px;
}

.oui {
    width:250px;
	height:250px;
	background-color:beige;
	/* font:bold 13px Arial; */
	border-radius:45%;
    border-color: green;
	color:green;
}

.non {
    width:250px;
	height:250px;
	background-color:beige;
	/* font:bold 13px Arial; */
	border-radius:45%;
	border-color: red;
	color:red;
}


.previous:hover{
    background-color: rgb(251, 193, 122);
}

.police{
    font-family: 'nunitoblack';
    font-size:40px;
}