html {
    background-color: bisque;
    text-align: center;
}



table{
    border-collapse: collapse;
    text-align: center;
    position: relative;
}

th, td {
    border: 1px solid black;
    vertical-align: top;
}

.datarow:hover{
    background-color: rgb(251, 193, 122);
}