@font-face {
    font-family: 'nunitoblack';
    src: url('../../../assets/fonts/Nunito/nunito-black-webfont.woff2') format('woff2'),
         url('../../../assets/fonts/Nunito/nunito-black-webfont.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}

html{
    background-color: beige;
}

.page{
    text-align: center;
    padding-top: 2%;
}

table{
    border-collapse: collapse;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    width: 50%;
    height: 50%;
}

th, td{
    border: 1px solid black;
    vertical-align: top;
    text-align: center;
    width: 100px;
}

.datarow:hover{
    background-color: rgb(251, 193, 122);
}

.previous{
    font-family: 'nunitoblack';
    border-style: ridge;
    border-radius: 50px;
    border-color:brown;
    color:brown;
    background-color:beige;
    font-size: 25px;
}

.livret {
    font-family: 'nunitoblack';
    border-style: ridge;
    border-radius: 50px;
    border-color:brown;
    color:brown;
    background-color:beige;
    left: 46%;
    text-align: center;
    position: fixed;
    font-size: 25px;
} 

.previous:hover, .livret:hover{
    background-color: rgb(251, 193, 122);
}

h2{
    left: 35%;
    text-align: center;
    font-weight: bold;
    color: brown;    
}