html {
    background-color: bisque;
}



table{
    border-collapse: collapse;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
}

th, td {
    border: 1px solid black;
    vertical-align: top;
    text-align: center;
    width: 100px;
}

.datarow:hover{
    background-color: rgb(251, 193, 122);
}