button{
    padding: 2%;
    margin: 2%;
}

.page {
    background-color: bisque;
    text-align: center;
}

.previous {
    border-style: ridge;
    border-radius: 50px;
    border-color:rgb(3, 189, 3);
    color: rgb(0, 160, 21);
    background-color:bisque;
}