@font-face {
    font-family: 'nunitoblack';
    src: url('../assets/fonts/Nunito/nunito-black-webfont.woff2') format('woff2'),
         url('../assets/fonts/Nunito/nunito-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'original_quality_demoregular';
    src: url('../assets/fonts/Original_quality/original_quality_demo-webfont.woff2') format('woff2'),
         url('../assets/fonts/Original_quality/original_quality_demo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h3 {
    text-align: center;
    size: 50px;
}
.btn-primary {
    color: #fff;
    background-color: red;
    border-color: red;
}

.btn-block {
    display: inline-block;
    width: 15%;
}
