<html>
<div class="page">
        <button class="btn btn-lg" [routerLink]="['/choix-categorie', {id:kid_id}]" title="Précédent" (click)="renvoyerId()" >Précédent</button>

        <div id="fond"> 
            <div class="ruban">     
                <h2>{{libelle_categorie_selectionne.toUpperCase()}}</h2>     
            </div>     
            <div class="ruban_gauche"></div>
            <div class="ruban_droit"></div>
        </div>
        <br/>
        <br />
    <form (ngSubmit)="onSubmit()">
        <table class="table">
            <li *ngFor="let img of var_choix_images; let i = index" style="list-style-type: none;" >
                <thead>
                    <tr>
                        <th>Description image</th>
                        <th>Image</th>
                        <th>Choix</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>   
                        <td>{{img.description.toUpperCase()}}</td>
                        <td><img class="card-img-top" src="https://pfe-back-dev.herokuapp.com/images/repertoire/{{libelle_categorie_selectionne}}/{{img.description}}.jpg"></td>
                        <td>
                            <button value="oui" (click)="$event.preventDefault();setChoix(i, 'oui')">Oui</button>
                            <button value="non" (click)="$event.preventDefault();setChoix(i, 'non')">Non</button>
                            <button value="jevoudrais" (click)="$event.preventDefault();setChoix(i, 'je voudrais le faire')">Je voudrais le faire</button>
                            <p>Tu as choisi {{img.choix}}</p>
                        </td>
                    </tr>
                </tbody>
            </li>
        </table>
        <button style="left: 45%;" class="btn1 btn-lg" id="buttonValider" type="submit" name="Valider">Valider</button>
        
        <div class="alert alert-danger" role="alert" *ngIf="rien_choisi == true">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
                <strong>Attention ! Pour continuer, il faut au minimum une image avec la valeur "OUI" !!</strong>
        </div>
    </form>
</div>
</html>