html {
    background-color: beige;
}

table {
    border-collapse: collapse;
    text-align: center;
    /* margin-left: auto;
    margin-right: auto; */
    background-color: beige;
}

th, td {
    border: 2px solid black;
    vertical-align: top;
    text-align: center;
    width: 100px;
}

th {
    color: blue;
    font-weight: bold;
}

td {
    color: saddlebrown;
}

h2 {
    left: 35%;
    text-align: center;
    font-weight: bold;
    color: blue;
}