html {
    background-color: beige;
}

table {
    border-collapse: collapse;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: beige;
}

th, td {
    border: 1px solid black;
    vertical-align: top;
    text-align: center;
    width: 100px;
    color:green;
}

th {
    color: rgb(122, 236, 69);
    font-weight: bold;
}

td {
    color: saddlebrown;
}

h2 {
    left: 35%;
    text-align: center;
    font-weight: bold;
    color: rgb(122, 236, 69);
}