html {
    background-color: beige;
}

table {
    border-collapse: collapse;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: gold;

}

th, td {
    border: 1px solid black;
    vertical-align: top;
    text-align: center;
    width: 100px;
}

th {
    color: blue;
    font-weight: bold;
}

td {
    color: brown;
}

