html {
    background-color: beige;
}
select{
    width: 100px;
    text-overflow: ellipsis;
}
 /* Form */
.login-container{
    margin-top: 5%;
    margin-bottom: 5%;
}
.login-form-1{
    padding: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-1 h3{
    text-align: center;
    color: rgb(11, 199, 11);
}
.login-form-2{
    padding: 5%;
    background: rgb(11, 199, 11);
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

.login-form-2 h3{
    text-align: center;
    color: #fff;
}
.login-container form{
    padding: 10%;
}
.btnSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}
.login-form-1 .btnSubmit{
    font-weight: 600;
    color: #fff;
    background-color: green;
}
.login-form-2 .btnSubmit{
    font-weight: 600;
    color: green;
    background-color: #fff;
}

h2 {
    margin: 25px;
    text-align: center;
    font-weight: bold;
    color: rgb(11, 199, 11);
}
/* Alert */

.alert {
    padding: 20px;
    size: 60%;
    text-align: center;
    font-weight: bold;
    position: absolute;
    margin-bottom: 80px;
    right: 40%;
}


.closebtn {
    margin-left: 15px;
    color: rgb(11, 199, 11);;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover  {
    color: green;
}

option {
    color: green;
}

input {
    color: green;
}

