<html>
  <h2>Bonjour </h2>
  
  <div class="alert alert-danger" role="alert" *ngIf="error_inscription == true">
      {{error_inscription_msg}}
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
  </div>
  
  <div class="alert alert-danger" role="alert" *ngIf="error_select == true">
      {{error_select_enfant}}
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
  </div>

  <div class="alert alert-success" role="alert" *ngIf="success_inscrire_personne == true">
      {{success_inscrire}}
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
  </div>
  
  <div class="container login-container">
      <div class="row">
          <div class="col-md-6 login-form-1">
              <h3>Choisissez un enfant</h3>
              <div class="form-group">
                <label> 
                  Enfant : 
                  <select  [(ngModel)]="kid_selected">
                    <option *ngFor="let enfant of listeEnfants" [ngValue]="enfant.enfant_id"> {{enfant.nom}} {{enfant.prenom}}</option>
                  </select>
                </label>
              </div>
              <div class="form-group">
                <button style="background-color: rgb(11, 199, 11);" class="btn btn-lg btn-primary" (click)="confirmer()">Valider</button>
              </div>
              <div class="form-group">
                <app-deconnexion-element></app-deconnexion-element>
              </div>
          </div>
          
          <div class="col-md-6 login-form-2">
              <h3>Inscrire enfant</h3>
              <form class="form-signin" [formGroup]="inscriptionEnfant" (ngSubmit)="inscrireEnfant()">
                  <div class="form-group">
                      <label>
                        <strong style="color: beige;">Nom :</strong>
                        <input type="text" class="form-control" placeholder="Nom" value="" formControlName="nom">
                      </label>
                    </div>
                    <div class="form-group">
                        <label>
                          <strong style="color: beige;">Prénom :</strong>
                          <input type="text" class="form-control" placeholder="Prénom" value="" formControlName="prenom">
                        </label>
                    </div>
                    <div class="form-group">
                        <label>
                          <strong style="color: beige;">Date de naissance :</strong>
                          <input type="date" value="date" formControlName="date_naissance" (change)="getAge()">
                        </label>
                    </div>
                    <div class="form-group">
                        <label>
                          <strong style="color: beige;">Age :</strong>
                          <input type="number" class="form-control" placeholder="Age" formControlName="age" value="">
                        </label>
                    </div>
                    <div class="form-group">
                      <label>
                        <strong style="color: beige;">Langue usuelle :</strong>
                          <input type="text"class="form-control" placeholder="Langue" value="" formControlName="langue">
                      </label>
                    </div>
                    <div class="form-group">
                      <label style="color: beige;"> 
                          <strong>Dominance :</strong> 
                          <select  formControlName="dominance">
                            <option value="D">Droitier</option>
                            <option value="G">Gaucher</option>
                            <option value="AB">Ambidextre</option>
                            <option value="AD">Adominant</option>
                          </select>
                      </label>
                    </div>
                    <div class="form-group">
                      <label style="color: beige;"> 
                          <strong>Scolarité :</strong> 
                          <select  formControlName="scolarite">
                            <option value="EO">Enseignement ordinaire</option>
                            <option value="ES">Enseignement spécialisé</option>
                            <option value="EI">Enseignement en intégration</option>
                          </select>
                      </label>
                    </div>
                    <div>
                        <div *ngIf="inscriptionEnfant.value.scolarite=='EO'">
                            <input type="text" class="form-control" placeholder="Type" value="" formControlName="type">
                        </div>
                        <br>
                        <div>
                        <input type="text" class="form-control" placeholder="Niveau scolaire" value="" formControlName="niveau">
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <label style="color: beige;"> 
                            <strong>Besoins particuliers :</strong>
                            <select  formControlName="besoin_particulier">
                              <option value="DV">l’enfant présente des difficultés visuelles</option>
                              <option value="VP">l’enfant ne voit pas</option>
                              <option value="DA">L’enfant présente des difficultés auditives</option>
                              <option value="EP">l’enfant n’entend pas</option>
                              <optgroup  value="D" label="L’enfant présente des difficultés pour contrôler avec précision les mouvements de ses bras et mains">
                                <option value="DCG">à gauche</option>
                                <option value="DCD">à droite</option>
                                <option value="DCB">bilatéral</option>
                              </optgroup>
                              <optgroup  value="D" label="L’enfant ne peut pas mouvoir ses bras et mains">
                                  <option value="MG">à gauche</option>
                                  <option value="MD">à droite</option>
                                  <option value="MB">bilatéral</option>
                              </optgroup>
                              <option value="DO">L’enfant présente des difficultés pour s’exprimer oralement</option>
                              <option value="PP">L’enfant ne peut pas parler</option>
                              <option value="DCA">L’enfant présente des difficultés pour comprendre les consignes verbales de l’adulte</option>
                              <option value="DEI">L’enfant présente des difficultés pour comprendre les étapes et/ou les images du jeu</option>
                              <option value="DOE">L’enfant présente des difficultés pour s’orienter dans l’espace du jeu</option>
                              <option value="AU">Autre</option>
                            </select>
                            <div *ngIf="inscriptionEnfant.value.besoin_particulier=='AU'">
                                <textarea formControlName="autre_besoin_particulier" rows="5" cols="33">
  
                                </textarea>
                              </div>
                        </label>
                    </div>
                    <div class="form-group">
                      <button style="background-color: beige; color: rgb(11, 199, 11);" class="btn btn-lg btn-primary" type='submit'>Inscrire</button>
                    </div>
              </form>
          </div>
  
          <div class="col-md-6 login-form-1">
              <h3 style="color: rgb(11, 199, 11);">Inscrire Professionnel</h3>
              <form class="form-signin" [formGroup]="inscription" (ngSubmit)="sendInscription()">
                    <div class="form-group">
                      <label style="color: rgb(11, 199, 11);">
                          <strong style="color: rgb(11, 199, 11);">Nom :</strong>
                        <input type="text" class="form-control" placeholder="Nom" value="" formControlName="nom">
                      </label>
                    </div>
                    <div class="form-group">
                        <label style="color: rgb(11, 199, 11);">
                            <strong style="color: rgb(11, 199, 11);">Prenom :</strong>
                            <input type="text"class="form-control" placeholder="Prenom" value="" formControlName="prenom">
                        </label>
                    </div>
                    <div class="form-group">
                      <label style="color: rgb(11, 199, 11);">
                          <strong style="color: rgb(11, 199, 11);">Mot de passe :</strong>
                          <input type="password" class="form-control" placeholder="Mot de passe" value="" formControlName="password">
                      </label>
                      </div>
                      
                      <div class="form-group">
                          <label style="color: rgb(11, 199, 11);">
                              <strong style="color: rgb(11, 199, 11);">E-mail :</strong>
                              <input type="email" class="form-control" placeholder="Email" value="" formControlName="email">
                          </label>
                      </div>
                      <div class="form-group">
                          <label style="color: rgb(11, 199, 11);">
                              <strong style="color: rgb(11, 199, 11);">Telephone :</strong>
                              <input type="number" class="form-control" placeholder="Tel" value="" formControlName="telephone">
                          </label>
                      </div>
                      <div class="form-group">
                          <label style="color: rgb(11, 199, 11);"> 
                              Profession : 
                              <select  formControlName="profession">
                                <option value="Erg">Ergothérapeute</option>
                                <option value="Psy">Psychologue</option>
                                <option value="Ed">Educateur</option>
                                <option value="Ki">Kinésithérapeute</option>
                                <option value="En">Enseignant</option>
                                <option value="Au">Autre</option>
                              </select>
                              <div *ngIf="inscription.value.profession=='Au'">
                                <textarea formControlName="autre" rows="5" cols="33">
  
                                </textarea>
                              </div>
                          </label>
                      </div>
  
                    <div class="form-group">
                        <button class="btn btn-lg btn-primary btn-block" style="background-color: rgb(11, 199, 11);" type='submit'>Inscrire</button>
                    </div>
                    
              </form>
          </div>
         
          <div class="col-md-6 login-form-2">
            <h3 style="color: beige;">Inscrire une personne de contact pour l'enfant: {{inscriptionEnfant.value.prenom}} {{inscriptionEnfant.value.nom}}</h3>
            <form class="form-signin" [formGroup]="tuteur" (ngSubmit)="inscriptionTuteur()">
                <div class="form-group">
                    <label style="color: beige;">
                        <strong style="color: beige;">Nom :</strong>
                      <input type="text" class="form-control" placeholder="Nom" value="" formControlName="nom">
                    </label>
                </div>
                <div class="form-group">
                    <label style="color: beige;">
                        <strong style="color: beige;">Prenom :</strong>
                      <input type="text" class="form-control" placeholder="Prenom" value="" formControlName="prenom">
                    </label>
                </div>
                <div class="form-group">
                    <label style="color: beige;">
                        <strong style="color: beige;">Email :</strong>
                      <input type="text" class="form-control" placeholder="Email" value="" formControlName="email">
                    </label>
                </div>
                <div class="form-group">
                    <label style="color: beige;">
                        <strong style="color: beige;">Telephone :</strong>
                      <input type="number" class="form-control" placeholder="Telephone" value="" formControlName="tel">
                    </label>
                </div>
                <div class="form-group">
                    <label style="color: beige;"> 
                        Statut : 
                        <select formControlName="statut">
                          <option value="P">Père</option>
                          <option value="M">Mère</option>
                          <option value="T">Tuteur</option>
                          <option value="F">Frère (majeur)</option>
                          <option value="S">Sœur (majeur)</option>
                          <option value="A">Autre</option>
                        </select>
                    </label>
                </div>
                <div *ngIf="tuteur.value.statut=='A'">
                    <input type="text" class="form-control" placeholder="Type" value="" formControlName="autre">
                </div>
                <div class="form-group">
                    <button style="background-color: beige; color: rgb(11, 199, 11);" class="btn btn-lg btn-primary btn-block" type='submit'>Valider</button>
                </div>
            </form>
        </div>
      
      </div>
  </div>
</html>
