<div *ngIf='isTokenValid; else not_connected'>
 <h2>Bonjour {{connexion.controls["username"].value}} !</h2>
 <p>
  <button class="btn btn-lg btn-primary btn-block" (click)="deconnexion()">Se déconnecter</button>
 </p>
 <p>
  <select  [(ngModel)]="kid_selected">
    <option *ngFor="let enfant of listeEnfants" [value]="enfant.enfant_id"> {{enfant.nom}} {{enfant.prenom}}</option>
  </select>
 
  </p>
</div>
<ng-template #not_connected>
<div>
<form class="form-signin" [formGroup]="connexion" (ngSubmit)="tryToConnect()">
    <h3>Connexion educateur</h3>
    <label>
        Educateur:
        <input type="text" formControlName="username">
      </label> <br>
    <label>
        Mot de passe:
        <input type="text" formControlName="password">
      </label> <br>
<button class="btn btn-lg btn-primary btn-block" type='submit'>Se connecter</button>
</form>
<br>
<form class="form-signin" [formGroup]="inscription" (ngSubmit)="sendInscription()">
    <h3>Inscription educateur</h3>
    <label>
        Educateur:
        <input type="text" formControlName="username">
      </label> <br>
    <label>
        Mot de passe:
        <input type="text" formControlName="password">
      </label> <br>
    <label>
        Email:
        <input type="text" formControlName="email">
     </label> <br>
<button class="btn btn-lg btn-primary btn-block" type='submit'>S'inscrire'</button>
</form></div>
</ng-template>


