
<form class="form-signin" [formGroup]="connexion" (ngSubmit)="callingFunction()">
    <h3>Connexion educateur</h3>
    <label>
        Educateur:
        <input type="text" formControlName="username">
      </label> <br>
    <label>
        Mot de passe:
        <input type="text" formControlName="password">
      </label> <br>
<button class="btn btn-lg btn-primary btn-block" type='submit'>Se connecter</button>

</form>
<br>
<form class="form-signin" [formGroup]="inscription" (ngSubmit)="sendInscription()">
    <h3>Inscription educateur</h3>
    <label>
        Educateur:
        <input type="text" formControlName="username">
      </label> <br>
    <label>
        Mot de passe:
        <input type="text" formControlName="password">
      </label> <br>
    <label>
        Email:
        <input type="text" formControlName="email">
     </label> <br>
<button class="btn btn-lg btn-primary btn-block" type='submit'>S'inscrire'</button>

