<html>
    <h2>Bienvenue sur l'application APEH</h2>

    <div class="container login-container">
        <div class="row">
            <div class="col-md-6 login-form-1">
                <h3>Enfant</h3>
                <br />
               
                <div *ngIf='isNotConnected; else connected'>
                    <div class="form-group">
                        <div class="position"> 
                            Nom: <select [(ngModel)]="kid_selected">
                                    <option style="color: #2AACD7;" *ngFor="let enfant of listeEnfants" [ngValue]="enfant"> {{enfant.nom}} {{enfant.prenom}}</option>
                                </select>
                        </div>
                    </div>
                    <button class="btn btn-lg btn-primary btn-block" (click)="connecterEnfant()">C'est moi ! </button>
                </div>
                <br />
                <ng-template #connected>
                    <div class="form-group">
                        <button class="btn btn-lg btn-primary btn-block" [routerLink]="['/choix-categorie',{id_enfant:kid_id}]" (click)="jouer()">Jouer</button>
                    </div>
                </ng-template>
            </div>
            <div class="col-md-6 login-form-2">
                <h3 style="color: beige;">Professionnel</h3>
                <br />
                <div class="form-group">
                   <!-- <div class="textintro">
                        Pour se connecter ou inscrire un éducateur
                    </div>-->
                </div>
                <div class="form-group">
                    <button style="background-color: beige; color:#0062cc;" class="btn btn-lg btn-primary btn-block" [routerLink]="['/connexion']" >Connexion professionel</button>
                </div>
            </div>
        </div> 
    </div>
</html>

<!-- <html>
<div class="page">
    <div style="text-align: center;">
        <h3><strong> Bienvenue sur l'application APEH</strong></h3>
    </div>

    <br />
    
    <div class="col-3">
        <div class="card">
        <div class="card-body">
            <h5 class="card-title" style="color: blue; font-weight: bold;">Enfant</h5>
            <div *ngIf='isNotConnected; else not_connected'>
            Nom:   <select [(ngModel)]="kid_selected">
                        <option *ngFor="let enfant of listeEnfants" [ngValue]="enfant"> {{enfant.nom}} {{enfant.prenom}}</option>
                    </select>
                    <br />
                    <br />
            <button class="btn btn-lg btn-primary" style="background-color: blue;" (click)="connecterEnfant()">C'est moi ! </button>
            </div>
            <ng-template #not_connected>
                <div class="ButtonJouer">
                    <button class="btn btn-lg btn-primary" style="background-color: blue;" [routerLink]="['/choix-categorie',{nom_enfant:kid_nomComplet}]" (click)="jouer()">Jouer</button>
                </div>
            </ng-template>
        </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card">
        <div class="card-body">
            <h5 class="card-title" style="color: blue; font-weight: bold;">Educateur</h5>
            <p class="card-text">Connexion ou Inscription pour l'éducateur.</p>
            <button class="btn btn-lg btn-primary" style="background-color: blue;" [routerLink]="['/connexion']" >Connexion</button>
        </div>
        </div>
    </div>
</div>
</html> -->


<!-- <div style="text-align:center">
    <button class="btn btn-lg btn-primary" style="background-color: blue;" [routerLink]="['/connexion']" >Connexion</button>
    <br />
    <br /> -->

<!-- <div class="select_kid" *ngIf='isNotConnected; else not_connected'>
    <select  [(ngModel)]="kid_selected">
        <option *ngFor="let enfant of listeEnfants" [ngValue]="enfant"> {{enfant.nom}} {{enfant.prenom}}</option>
    </select>
    <br>
    <button class="btn btn-lg btn-primary" style="background-color: greenyellow;" (click)="connecterEnfant()">C'est moi ! </button>
</div>
<br>
<ng-template #not_connected>
    <div class="ButtonJouer">
        <button class="btn btn-lg btn-primary" style="background-color: blue;" [routerLink]="['/choix-categorie']" >Jouer</button>
    </div>
</ng-template> -->
<!-- </div> -->
