<html>
    <nav class="navbar bg-faded">
        <img src="https://image.ibb.co/n7oTvU/logo_white.png" width="50" class="image-fluid" alt="logo">
        <h2 class="mb-1 mt-1 mx-auto"><strong class="text-white">Viens jouer avec nous !</strong></h2>
        <img src="https://image.ibb.co/n7oTvU/logo_white.png" width="50" class="image-fluid" alt="logo">
    </nav>
    <br>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6 text-center">
                <div class="card text-center">
                    <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <div *ngIf="kidChecked == true">
                                    <a class="nav-link active" id="home-tab" data-toggle="tab" role="tab" aria-controls="home" style="cursor:default" aria-selected="true">Enfant</a>
                            </div>
                            <div *ngIf="kidChecked == false">
                                    <a class="nav-link" id="home-tab" data-toggle="tab" role="tab" aria-controls="home" style="cursor:pointer" (click)="$event.preventDefault();switchToOtherProfile()" aria-selected="false">Enfant</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div *ngIf="kidChecked == false">
                                    <a class="nav-link active" id="profile-tab" style="width: 115px;" data-toggle="tab" role="tab" aria-controls="profile" style="cursor:default" aria-selected="true">Professionnel</a>
                            </div>
                            <div *ngIf="kidChecked == true">
                                <a class="nav-link" id="profile-tab" style="width: 115px;" data-toggle="tab" role="tab" aria-controls="profile" style="cursor:pointer" (click)="$event.preventDefault();switchToOtherProfile()" aria-selected="false">Professionnel</a>
                            </div>
                        </li>
                    </ul>
                    </div>
                    <div class="card-body">
                            <div *ngIf="kidChecked == true">
                                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                        <div *ngIf="kidChecked">
                                            <h3 class="register-heading">Connexion Enfant</h3>
                                            <div class="row register-form">
                                                <div class="col-4"></div>
                                                <div style="left: 0%">
                                                    <div *ngIf='isNotConnected; else connected'>
                                                        <div class="form-group">
                                                            <div class="position"> 
                                                                Nom: <select [(ngModel)]="kid_selected">
                                                                        <option style="color: black" *ngFor="let enfant of listeEnfants" [ngValue]="enfant"> {{enfant.nom}} {{enfant.prenom}}</option>
                                                                    </select>
                                                            </div>
                                                        </div>
                                                        <button class="btn btn-lg btn-primary btn-block" (click)="connecterEnfant()">C'est moi ! </button>
                                                    </div>
                                                    <br />
                                                    <ng-template #connected>
                                                        <div class="form-group">
                                                            <button class="btn btn-lg btn-primary btn-block" [routerLink]="['/choix-categorie']" (click)="jouer()">Jouer</button>
                                                        </div>
                                                    </ng-template>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="kidChecked == false">
                                    <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                        <h3 class="register-heading">Connexion Professionnel</h3>
                                        <div class="row register-form">
                                            <div class="col-4"></div>
                                            <div style="left: 0%">
                                                <button class="btn btn-lg btn-primary btn-block" [routerLink]="['/connexion']" (click)="connect()">Connexion</button>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                    </div>
                </div>
                <div class="col-sm-3 text-center"></div>
            </div>
        </div>
    </div>
</html>