html {
    background-color: beige;
    font-family: 'nunitoblack';
}

.card{
    background-color: beige;
}
.btn{
   background-color: rgb(122, 236, 69);
   border-color: rgb(122, 236, 69); 
}

.h2, .h3{
    color: rgb(122, 236, 69);
}

.navbar{
    background-color: rgb(122, 236, 69);
}